<a href="assets/1.jpg" download>Download</a>
<p class="active">about works!</p>
<input type="text" [(ngModel)]="search">
<table>
    <thead>
        <th>Name</th>
        <th>Age</th>
    </thead>
    <tbody>
        <tr *ngFor="let stu of students|searchFilter:search">
            <td>{{stu.name}}</td>
            <td>{{stu.age}}</td>
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <th>User Id</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.userId}}</td>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>
    </tbody>
</table>

<input type="file" (change)="fileUpload($event)" multiple>