<style>
    .active{
        background:red;
    }
</style>
{{serviceText}}
{{price1|convertToDollar}}
<p id="test">home-component works!</p>
{{studentName|toUpperCase}}
<div [innerHtml]="studentName"></div>
<button (click)="toggleDiv()">Toggle</button>
<div *ngIf="showDiv">
    Division show / hide
</div>

<div [hidden]="showDiv">
    Division show / hidden
</div>

<div *ngIf="val=='10'">
    Value is 10
</div>
<div *ngIf="val=='20'">
    Value is 20
</div>
<div>{{val}}</div>
<!-- <input type="text" [(ngModel)]="val"> -->
<input type="text" #test>
<button (click)="checkVal(test.value)">Check</button>
<button (click)="toggleClass()">Toggle class</button>
<div [ngClass]="{'active':showClass}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam debitis voluptas voluptatibus quaerat iusto velit ipsam voluptate qui alias distinctio possimus est veniam facilis, quam perspiciatis temporibus dolorum quod nobis.</div>
<input type="text" [(ngModel)]="color" (change)="changeColor()">
<div [ngStyle]="styleProp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat enim incidunt tempora dicta, placeat, perspiciatis aspernatur facilis neque eum blanditiis repellendus iste sint quibusdam, magnam modi excepturi? Necessitatibus, obcaecati iste!</div>